.box {
  width: 400px;
  height: 300px;
  border: 1px solid red;
  border-radius: 10px;
  margin: 0 auto;
box-shadow: inset 4px 4px 4px 4px red,
8px 8px 8px 8px blue,
12px 8px 12px 12px green;
margin: 0 auto 50px auto;
}
